@using Dominio.Model;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#Cpf").mask("999.999.999-99", { placeholder: " " });
        $("#DataNascimento").getDate();
    });
</script>
<script>
    function bloquearFuncionario(id) {
        var titulo, msg, tipo;

        $.ajax({
            url: "/Funcionario/BloquearFuncionario",
            data: {
                id: id
            },
            type: "GET",
            datatype: "json",
            contenttype: "application/json; charset=utf-8",
            success: function (data) {
                titulo = "Aviso";
                msg = "\"" + data + "\" desabilitado com sucesso";
                MostraSuccess(msg, true);

            },
            error: function (data) {
                titulo = "Aviso";
                msg = "Erro ao desabilitar \"" + data + "\" ";
                MostraDanger(msg, titulo, 'glyphicon glyphicon-remove', "", true);
            },
        });
    };

    function desbloquearFuncionario(id) {
        var titulo, msg, tipo;

        $.ajax({
            url: "/Funcionario/DesbloquearFuncionario",
            data: {
                id: id
            },
            type: "GET",
            datatype: "json",
            contenttype: "application/json; charset=utf-8",
            success: function (data) {
                titulo = "Aviso";
                msg = " \"" + data + "\" habilitado com sucesso";
                MostraSuccess(msg, true);
            },
            error: function (data) {
                titulo = "Aviso";
                msg = "Erro ao habilitar \"" + data + "\" ";
                MostraDanger(msg, true);
            },
        });

    };

</script>

<h1 class="page-header">Listagem de Funcionários</h1>
@model List<Funcionario>

@if (@TempData["Mensagem"] != null)
{
    <script>MostraSuccess('@TempData["Mensagem"]', false)</script>
}
else
{
    if (@TempData["MensagemErro"] != null)
    {
        <script>MostraDanger('@TempData["MensagemErro"]', false)</script>
    }
}
<div class="row">
    <div class="col col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado != Seedwork.Const.PerfilAcesso.Funcionario)
                {
                    @Html.ActionLink("Adicionar Funcionário", "Novo", "Funcionario", new { @class = "btn btn-primary" })
                }
            </div>
            <div class="panel panel-body">
                <div class="dataTables_wrapper">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cpf</th>
                                <th>Data Nascimento</th>
                                <th>Email</th>
                                <th>Identidade(RG)</th>
                                @if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado != Seedwork.Const.PerfilAcesso.Funcionario)
                                {
                                    <th>Operações</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Nome</td>
                                    <td>@item.Cpf</td>
                                    <td>@item.DataNascimento.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                                    <td>@item.Email</td>
                                    <td>@item.Identidade</td>
                                    @if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado != Seedwork.Const.PerfilAcesso.Funcionario)
                                    {
                                        <td class="col-sm-2">

                                            @Html.ActionLink("Editar", "Visualizar", new { id = item.Id }, new { @class = "btn btn-outline btn-xs btn-info" })
                                            @if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado != Seedwork.Const.PerfilAcesso.Funcionario)
                                            {
                                                if (item.Bloqueado == "Y")
                                                {
                                                    <input type="button" class="btn btn-outline btn-xs btn-success" value="Habilitar  " onclick="desbloquearFuncionario('@item.Id');" />
                                                }
                                                else
                                                {
                                                    <input type="button" class="btn btn-outline btn-xs btn-warning" value="Desabilitar" onclick="bloquearFuncionario('@item.Id');" />
                                                }
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
