@using Dominio.Model

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";

}


<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#Cpf").mask("999.999.999-99", { placeholder: " " });
        $("#Identidade").mask("99.999.999-*", { placeholder: " " });
        $("#DataNascimeneto").mask("dd/MM/yyyy", { placeholder: " " });

    });

    function atualizaEndereco() {
        var cep = document.getElementById('Cep').value;

        $.ajax({
            url: "/Funcionario/AtualizaDadosEndereco",
            data: {
                cep: cep
            },
            type: "GET",
            datatype: "json",
            contenttype: "application/json; charset=utf-8",
            success: function (data) {
                $("#txtlogradouro").val(data.logradouro);
                $("#txtbairro").val(data.bairro);
                $("txtcidade").val(data.cidade);
            },
        });
    };
</script>

<h2>Novo Funcionário</h2>
@model FrontEnd.Models.FuncionarioNovo


@using (Html.BeginForm("Incluir", "Funcionario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.HiddenFor(f => f.Id)
        
        @Html.Label("Nome")
        @Html.TextBoxFor(f => f.Nome, new { @class = "form-control" })<br />
        
        @Html.Label("CPF ")
        @Html.TextBoxFor(f => f.Cpf, new { @class = "form-control" })<br />
        
        @Html.Label("Nascimento")
        @Html.TextBoxFor(f => f.DataNascimento, new { @class = "form-control", type = "date" })<br />
        
        @Html.Label("Email")
        @Html.TextBoxFor(f => f.Email, new { @class = "form-control", type = "email", value = "" })<br />
        
        @Html.Label("Senha")
        @Html.PasswordFor(f => f.Senha, new { @class = "form-control", type = "password", value = @Model.Senha })<br />
        
        @Html.Label("Empregador")<br />
        @Html.DropDownListFor(f => f.IdEmpresa, Model.Empresas, new { @class = "form-control"})<br />
        
        @Html.Label("Perfil de Acesso")<br />
        @Html.DropDownListFor(f => f.IdPerfilDeAcesso, Model.PerfisDeAcesso, new { @class = "form-control" })<br />
    </div>
    <input type="submit" value="Salvar" class="btn btn-outline btn-success" />
}

