@using Dominio.Model
@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";

}

<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script src="~/Scripts/Horario/funcionarioNovo.js"></script>
<script type="text/javascript">
    function atualizaEndereco() {
        var cep = document.getElementById('Cep').value;

        $.ajax({
            url: "/Funcionario/AtualizaDadosEndereco",
            data: {
                cep: cep
            },
            type: "GET",
            datatype: "json",
            contenttype: "application/json; charset=utf-8",
            success: function (data) {
                $("#txtlogradouro").val(data.logradouro);
                $("#txtbairro").val(data.bairro);
                $("txtcidade").val(data.cidade);
                $("txtestado").chosen(data.uf);
            },
        });
    };


    function ValidaCPF() {
        var cpf = document.getElementById('CPF').value;
        if (cpf.length > 0) {
            $.ajax({
                url: "/Funcionario/ValidaCPF",
                data: {
                    aCPF: cpf
                },
                type: "GET",
                datatype: "bool",
                contenttype: "application/json; charset=utf-8",
                success:
                    function (data) {
                        if (msg == "TRUE") {

                        }
                    },
            });
        }
    };


    $(document).ready(function () {
        atualizaListaHorarios();
        $("#IdEmpresa").change(function (e) {
            atualizaListaHorarios();
        });
    });

</script>
@model FrontEnd.Models.FuncionarioNovo
@if (@TempData["Mensagem"] != null)
{
    <script>ShowWarning('@TempData["Mensagem"]', false)</script>
}
else
{
    if (@TempData["MensagemErro"] != null)
    {
        <script>ShowDanger('@TempData["MensagemErro"]', false)</script>
    }
    else
    {
        if (@TempData["MensagemAtencao"] != null)
        {
            <script>ShowWarning('@TempData["MensagemAtencao"]', false)</script>
        }

    }
}
<h2 class="page-header">Novo funcionário</h2>
<div class="row">
    <div class="col col-lg-12">
        <div class="panel panel-default">
            <div class="panel panel-body">
                @using (Html.BeginForm("Incluir", "Funcionario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(f => f.Id)
                    <div class="form-group">
                        @Html.Label("Nome")
                        @Html.TextBoxFor(f => f.Nome, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("CPF ")
                        @Html.TextBoxFor(f => f.Cpf, new { @class = "form-control", @onBlur = "ValidaCPF();", id = "CPF" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Email")
                        @Html.TextBoxFor(f => f.Email, new { @class = "form-control", type = "email", value = "" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Senha")
                        @Html.PasswordFor(f => f.Senha, new { name = "Senha", @class = "form-control", type = "password", @maxlength = "30", id = "senha" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Confirmação de senha")
                        @Html.PasswordFor(f => f.SenhaConfirmacao, new { name = "ConfirmaSenha", @class = "form-control", type = "password", @maxlength = "30" })
                    </div>
                    if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado == Seedwork.Const.PerfilAcesso.Administrador)
                    {
                        <div class="form-group">
                            @Html.Label("Empresa")<br />
                            @Html.DropDownListFor(f => f.IdEmpresa, Model.Empresas, new { @class = "form-control" })
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(f => f.IdEmpresa)
                    }
                    <div class="form-group">
                        @Html.Label("Perfil de Acesso")<br />
                        @Html.DropDownListFor(f => f.IdPerfilDeAcesso, Model.PerfisDeAcesso, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Horário de Expediente")<br />
                        @Html.DropDownListFor(f => f.IdHorarioDeExpediente, Model.HorarioDeExpedientes, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnSalvar" value="Salvar" class="btn btn-outline btn-success" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
