@using Dominio.Model;
@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    .dados {
        float: left;
        width: 40%;
        height: 60%;
        padding: 10px;
    }

    .email {
        padding: 15px;
        /*background-color: #337ab7;
        background-color: rgba(51, 122, 183, 0.15);*/
        border-color: rgba(51, 122, 183, 0.80);
        border-style: solid;
        border-radius: 10px;
    }

    .botoes {
        padding: 10px;
        float: left;
        width: 90%;
        position: relative;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#Cpf").mask("999.999.999-99", { placeholder: " " });
        $("#DataNascimeneto").mask("dd/MM/yyyy", { placeholder: " " });
    });

    function atualizaEndereco() {
        var cep = document.getElementById('Cep').value;

        $.ajax({
            url: "/Funcionario/AtualizaDadosEndereco",
            data: {
                cep: cep
            },
            type: "GET",
            datatype: "json",
            contenttype: "application/json; charset=utf-8",
            success: function (data) {
                $("#txtlogradouro").val(data.logradouro);
                $("#txtbairro").val(data.bairro);
                $("txtcidade").val(data.cidade);
            },
        });
    };
</script>

<section>
    @model FrontEnd.Models.FuncionarioEditar


    <header>
        <h2>Editar @Model.Nome</h2>
    </header>

    @{
        var listaDePerfis = (IEnumerable<SelectListItem>)ViewBag.ListagemdePerfis;
        var listaDeEmpresas = (IEnumerable<SelectListItem>)ViewBag.ListagemdeEmpresas;
        var listaUf = (IEnumerable<SelectListItem>)ViewBag.ListagemdeUF;
        using (Html.BeginForm("Editar", "Funcionario", FormMethod.Post))
        {
            @Html.HiddenFor(p => p.Id)

            @Html.Label("Nome")
            @Html.TextBoxFor(e => e.Nome, new { @class = "form-control" })<br />

            @Html.Label("CPF")
            @Html.TextBoxFor(e => e.Cpf, new { @class = "form-control", @maxlength = "11" })<br />

            @Html.Label("Nascimento")
            @Html.TextBoxFor(e => e.DataNascimento.GetValueOrDefault().Date, new { @class = "form-control", @type = "date" })<br />

            @Html.Label("Email")
            @Html.TextBoxFor(e => e.Email, new { @class = "form-control", @style = "font-weight: bold;" })<br />

            @Html.Label("Senha")<br />
            @Html.PasswordFor(p => p.Senha, new { @class = "form-control glyphicon glyphicon-lock", @style = "font-weight: bold;" })<br />

            @Html.Label("CEP")
            @Html.TextBoxFor(e => e.Cep, new { @class = "form-control", @onBlur = "atualizaEndereco()" })<br />

            @Html.Label("Logradouro")
            @Html.TextBoxFor(e => e.Logradouro, new { @class = "form-control", id = "txtlogradouro" })<br />

            @Html.Label("Número")
            @Html.TextBoxFor(e => e.NumeroEndereco, new { @class = "form-control" })<br />

            @Html.Label("Bairro")
            @Html.TextBoxFor(e => e.Bairro, new { @class = "form-control", id = "txtbairro" })<br />

            @Html.Label("Cidade")
            @Html.TextBoxFor(e => e.Cidade, new { @class = "form-control", id = "txtcidade" })<br />

            @Html.Label("Estado")
            @Html.DropDownListFor(p => p.Estado, listaUf, new { @class = "form-control" })<br />

            @Html.Label("Empregador")
            @Html.DropDownListFor(e => e.IdEmpresa, listaDeEmpresas, new { @class = "form-control" })<br />

            @Html.Label("Perfil de Acesso")
            @Html.DropDownListFor(e => e.IdPerfilDeAcesso, listaDePerfis, new { @class = "form-control" })<br />

            <input type="submit" value="Salvar" class="btn btn-outline btn-success" />
        }



    }
</section>






