
@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Nova Empresa</h2>
@model FrontEnd.Models.EmpresaNovo

@using (Html.BeginForm("Incluir", "Empresa", FormMethod.Post))
{ 
    @Html.Label("Razão Social")
    @Html.TextBoxFor(e => e.RazaoSocial, new { @class = "form-control"})<br />
    
    @Html.Label("Nome Fantasia")
    @Html.TextBoxFor(e => e.NomeFantasia, new { @class = "form-control" })<br />
    
    @Html.Label("CNPJ ")
    @Html.TextBoxFor(e => e.Cnpj, new { @class = "form-control" })<br />
    
    <input type="submit" value="Salvar" class="btn btn-outline btn-success"/>
}


