@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Nova Empresa</h2>
@model FrontEnd.Models.EmpresaEditar

@using (Html.BeginForm("Editar", "Empresa", FormMethod.Post))
{
    @Html.HiddenFor(p => p.Id)

    @Html.LabelFor(p => p.RazaoSocial)
    @Html.TextBoxFor(e => e.RazaoSocial, new { @class = "form-control" })<br />

    @Html.LabelFor(p => p.NomeFantasia)
    @Html.TextBoxFor(e => e.NomeFantasia, new { @class = "form-control" })<br />

    @Html.LabelFor(p => p.Cnpj)
    @Html.TextBoxFor(e => e.Cnpj, new { @class = "form-control" })<br />

    @Html.LabelFor(p => p.Logradouro)
    @Html.TextBoxFor(e => e.Logradouro, new { @class = "form-control form-" })<br />

    @Html.LabelFor(p => p.NumeroEndereco)
    @Html.TextBoxFor(e => e.NumeroEndereco, new { @class = "form-control", @type="number"})<br />

    @Html.LabelFor(p => p.Bairro)
    @Html.TextBoxFor(e => e.Bairro, new { @class = "form-control" })<br />

    @Html.LabelFor(p => p.Cep)
    @Html.TextBoxFor(e => e.Cep, new { @class = "form-control" })<br />
        
    @Html.LabelFor(p => p.Cidade)
    @Html.TextBoxFor(e => e.Cidade, new { @class = "form-control" })<br />

    @Html.LabelFor(p => p.Estado)
    @Html.TextBoxFor(e => e.Estado, new { @class = "form-control" })<br />

    @Html.LabelFor(p => p.Pais)
    @Html.TextBoxFor(e => e.Pais, new { @class = "form-control" })<br />
    
    @Html.LabelFor(p => p.Bloqueado)<br />
    @Html.CheckBoxFor(e => e.Bloqueado, false)<br />

    <input type="submit" value="Salvar Alterações" class="btn btn-outline btn-success" />
}


