<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<script type="text/javascript">

    function atualizaEndereco() {
        var cep = document.getElementById('Cep').value;

        $.ajax({
            url: "/Empresa/AtualizaDadosEndereco",
            data: {
                cep: cep
            },
            type: "GET",
            datatype: "json",
            contenttype: "application/json; charset=utf-8",
            success: function (data) {
                $("#txtlogradouro").val(data.logradouro);
                $("#txtbairro").val(data.bairro);
                $("txtcidade").val(data.cidade);
                $("txtestado").chosen(data.uf);
            },
        });
    };
</script>

@model FrontEnd.Models.EmpresaEditar

<h2 class="page-header">Editando empresa: @Model.NomeFantasia</h2>
<div class="row">
    <div class="col col-lg-12">
        <div class="panel panel-default">
            <div class="panel panel-body">

                @using (Html.BeginForm("Editar", "Empresa", FormMethod.Post))
                {

                    var listaUf = (IEnumerable<SelectListItem>)ViewBag.ListagemdeUF;
                    @Html.HiddenFor(p => p.Id)
                    
                    if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado == Seedwork.Const.PerfilAcesso.Administrador)
                    {
                        <div class="form-group">
                            @Html.Label("Razão Social")
                            @Html.TextBoxFor(e => e.RazaoSocial, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Nome Fantasia")
                            @Html.TextBoxFor(e => e.NomeFantasia, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("CNPJ ")
                            @Html.TextBoxFor(e => e.Cnpj, new { @class = "form-control", id = "CNPJ" })
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.Label("Razão Social")
                            @Html.TextBoxFor(e => e.RazaoSocial, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Nome Fantasia")
                            @Html.TextBoxFor(e => e.NomeFantasia, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            @Html.Label("CNPJ ")
                            @Html.TextBoxFor(e => e.Cnpj, new { @class = "form-control", id = "CNPJ", @readonly = "readonly" })
                        </div>
                    }
                    <div class="form-group">
                        @Html.Label("CEP ")
                        @Html.TextBoxFor(e => e.Cep, new { @class = "form-control", @onBlur = "atualizaEndereco()", id = "CEP" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Logradouro")
                        @Html.TextBoxFor(e => e.Logradouro, new { @class = "form-control", id = "txtlogradouro" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Número")
                        @Html.TextBoxFor(e => e.NumeroEndereco, new { @class = "form-control", @type = "number", id = "Numero" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Bairro")
                        @Html.TextBoxFor(e => e.Bairro, new { @class = "form-control", id = "txtbairro" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Cidade")
                        @Html.TextBoxFor(e => e.Cidade, new { @class = "form-control", id = "txtcidade" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Estado")
                        @Html.DropDownListFor(p => p.Estado, listaUf, new { @class = "form-control", id = "txtestado" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-outline btn-success" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>


