@{
    ViewBag.Title = "Ajustar";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h1 class="page-header">Ajuste de Ponto</h1>

@model FrontEnd.Models.PontoEditar

@using (Html.BeginForm("Editar", "Ponto", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                @Html.Label("Selecione um horário para ajustar")
                @Html.DropDownListFor(p => p.Id, new SelectList(@ViewBag.ListaBatidas, "value", "text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-body">

            @Html.HiddenFor(p => p.DataAjuste)

            @Html.LabelFor(p => p.HoraAjuste)
            @Html.TextBoxFor(e => e.HoraAjuste, new { @class = "form-control" })<br />

            @Html.LabelFor(p => p.Justificativa)
            @Html.TextBoxFor(e => e.Justificativa, new { @class = "form-control" })<br />


            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">Gravar Ajuste</button>
            @*<input type="submit" value="Salvar Alterações" class="btn btn-outline btn-success" />*@
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="form-group">
                        @Html.Label("Email")
                        @Html.TextBoxFor(p => p.EmailFuncionario, new { @type = "email", @class = "form-control", @placeholder = "Email", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Senha")
                        @Html.TextBoxFor(p => p.SenhaFuncionario, new { @type = "password", @class = "form-control", @placeholder = "Senha" })
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Confirmar" class="btn btn-outline btn-success form-control" />
                </div>
            </div>
        </div>
    </div>