@{
    ViewBag.Title = "Ajustar";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h1 class="page-header">Ajuste de Ponto</h1>

@model FrontEnd.Models.PontoEditar

@using (Html.BeginForm("Editar", "Ponto", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                @Html.Label("Selecione um horário para ajustar")
                @Html.DropDownListFor(p => p.Id, new SelectList(@ViewBag.ListaBatidas, "value", "text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-body">

            @*@Html.HiddenFor(p => p.Id, new { @id = @Html.DropDownList("selectedBookId", (SelectList)ViewBag.Books) })*@
            @Html.HiddenFor(p => p.DataAjuste)

            @Html.LabelFor(p => p.DataAjuste)
            @Html.TextBoxFor(e => e.HoraAjuste, new { @class = "form-control" })<br />

            @Html.LabelFor(p => p.MotivoAjuste)
            @Html.TextBoxFor(e => e.MotivoAjuste, new { @class = "form-control" })<br />

            <input type="submit" value="Salvar Alterações" class="btn btn-outline btn-success" />
        </div>
    </div>
}
