@using Dominio.Model;
@{
    ViewBag.Title = "Consultar horários ajustados";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}

@model List<Ponto>

<h1 class="page-header">Consultar horários ajustados</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Funcionario</th>
                        <th>Data/Hora Marcada</th>
                        <th>Data/Hora Válida</th>
                        <th>Data/Hora Ajustada</th>
                        <th>Motivo do Ajuste</th>
                        <th>Aprovar?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Funcionario.Nome</td>
                            <td>@item.DataDaMarcacao.ToString("dd/MM/yyyy HH:mm") </td>
                            <td>@item.DataValida.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.DataAjuste.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.MotivoAjuste</td>
                            <td>
                                @Html.ActionLink("Aprovar", "AprovarAjuste", new { id = item.Id }, new { @class = "btn btn-outline btn-info" })
                                @Html.ActionLink("Rejeitar", "RejeitarAjuste", new { id = item.Id }, new { @class = "btn btn-outline btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

