@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h1 class="page-header">Ajuste de Ponto</h1>
@model FrontEnd.Models.PontoEditar


@using (Html.BeginForm("Editar", "Ponto", FormMethod.Post))
{
    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.DataAjuste)

    @Html.LabelFor(p => p.DataAjuste)
    @Html.TextBoxFor(e => e.HoraAjuste, new { @class = "form-control", @id = "MaskHora" })<br />

    @Html.LabelFor(p => p.MotivoAjuste)
    @Html.TextBoxFor(e => e.MotivoAjuste, new { @class = "form-control" })<br />

    <input type="submit" value="Salvar Alterações" class="btn btn-outline btn-success" />
}