@model FrontEnd.Models.FolgaCriar

@{
    ViewBag.Title = "Solicitação de Folgas";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<script>

</script>
<link href="~/Content/Site.css" rel="stylesheet" />
<h1 class="page-header">Solicitar Folga</h1>
@{
    if (@TempData["Mensagem"] != null)
    {
        <script>MostraSuccess('@TempData["Mensagem"]', false)</script>
    }
    else
    {
        if (@TempData["MensagemErro"] != null)
        {
            <script>MostraDanger('@TempData["MensagemErro"]', false)</script>
        }
    }
}
<div class="panel panel-default">
    @using (Html.BeginForm("Criar", "Folga", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <fieldset>
            <div class="panel-heading">
                <div class="form-group">
                    @Html.LabelFor(p => p.Funcionario)
                    @Html.TextBoxFor(p => p.Funcionario, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Data para Folga</label>
                    <input type="date" id="Data" name="Data" class="form-control" aria-describedby="basic-addon" required oninvalid="setCustomValidity('A data da folga deve ser informada!')">
                </div>
                <br />
                <div class="form-group">
                    <label>Justificativa</label>

                    <textarea id="Justificativa" name="Justificativa" rows="5" class="form-control" placeholder="Sua justificativa ou observação..."></textarea>
                </div>
                <br />
                @Html.HiddenFor(p => p.Resposta)
                <input type="submit" value="Solicitar" class="btn btn-outline btn-success" />
            </div>
        </fieldset>
    }
</div>

