@model FrontEnd.Models.FolgaCriar

@{
    ViewBag.Title = "Solicitação de Folgas";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}
<script>

</script>
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    if (@TempData["Mensagem"] != null)
    {
        <script>MostraSuccess('@TempData["Mensagem"]', false)</script>
    }
    else
    {
        if (@TempData["MensagemErro"] != null)
        {
            <script>MostraDanger('@TempData["MensagemErro"]', false)</script>
        }
    }
}
<h2 class="page-header">Solicitar férias</h2>
<div class="row">
    <div class="col col-lg-12">
        <div class="panel panel-default">
            <div class="panel panel-body">
                @using (Html.BeginForm("Criar", "Folga", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Funcionário")
                        @Html.TextBoxFor(p => p.Funcionario, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Data para folga")
                        <input type="date" id="Data" name="Data" class="form-control" aria-describedby="basic-addon" required oninvalid="setCustomValidity('A data da folga deve ser informada!')">
                    </div>
                    <div class="form-group">
                        @Html.Label("Justificativa")
                        <textarea id="Justificativa" name="Justificativa" rows="5" class="form-control" placeholder="Sua justificativa ou observação..."></textarea>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(p => p.Resposta)
                        <input type="submit" value="Solicitar" class="btn btn-outline btn-success" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

