<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sistema de Ponto Eletrônico</title>

    <!-- CSS -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="~/bower_components/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @* Jquery e jquery masked input para máscaras *@
    <script src="~/Scripts/jquery.maskedinput.js"></script>

    @* Referências Janelas de mensagem padrão *@
    @*<script src="Script/jquery-1.10.2.js"></script>
        <link href="Script/bootstrap-dialog.min.css" rel="stylesheet" />
        <script src="Script/bootstrap.min.js"></script>
        <script src="Script/run_prettify.js"></script>
        <script src="Script/bootstrap-dialog.min.js"></script>*@

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/run_prettify.js"></script>
    <link href="~/Content/bootstrap-dialog.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/Mensagens.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#actionLinkId").on("click", function () {
                var url = $(this).attr("href");
                url += ((url.indexOf('?') == -1) ? '?' : '&');
                url += $.param({
                    docItemId: $("#ItemSelecionadoId").val(),
                    vlrImobIcms: $("#VlrImobilizadoId").val()
                });
                $(this).attr("href", url);
            });
        })
    </script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- Topo a esquerda -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/img/minLogo_gray.png" class="navbar-brand" alt="Ponto Eletrônico 1.0" style="padding : 10px;" />
            </div>
            <!-- Topo a direita -->
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span><strong>Logado como @FrontEnd.Models.Sessao.FuncionarioLogado.PerfilDeAcesso.Descricao : </strong>@FrontEnd.Models.Sessao.FuncionarioLogado.Email</span>
                </li>
                <li>
                    <a href="@Url.Action("Logout", "Login")"><i class=" glyphicon glyphicon-off"></i> Sair</a>
                </li>
            </ul>
            <!-- Navegação -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--  Menu Dashboard  -->
                        <li>
                            <a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i> Página Inicial</a>
                        </li>
                        <!--  Menu Cadastros  -->
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-list"></i> Cadastros<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                @if (@FrontEnd.Models.Sessao.PerfilFuncionarioLogado != Seedwork.Const.PerfilAcesso.Funcionario)
                                {
                                    <li><a href="@Url.Action("Index", "Empresa")"><i class=""></i> Empresas</a></li>
                                }
                                <li><a href="@Url.Action("Index", "Funcionario")"><i class=""></i> Funcionários</a></li>
                                @if (@FrontEnd.Models.Sessao.PerfilFuncionarioLogado != Seedwork.Const.PerfilAcesso.Funcionario)
                                {
                                    <li><a href="@Url.Action("Index", "HorarioDeExpediente")"><i class=""></i> Horários de expedientes</a></li>
                                }
                            </ul>
                        </li>
                        <!--  Menu Horários  -->
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-time"></i> Horários<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="@Url.Action("Lista", "Ponto")"><i class=""></i> Consultar horários</a></li>
                                @if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado != Seedwork.Const.PerfilAcesso.Funcionario)
                                {
                                    <li><a href="@Url.Action("Index", "Solicitacao")"><i class=""></i> Ajustes pendentes</a></li>
                                }
                                <li><a href="@Url.Action("Respostas", "Solicitacao")"><i class=""></i> Respostas</a></li>
                            </ul>
                        </li>
                        <!--  Menu Folgas  -->
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-calendar"></i> Folgas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="@Url.Action("Solicitar", "Folga")"><i class=""></i> Solicitar</a></li>
                                @if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado != Seedwork.Const.PerfilAcesso.Funcionario)
                                {
                                    <li><a href="@Url.Action("Index", "Folga")"><i class=""></i> Aprovar/Rejeitar</a></li>
                                }
                                <li><a href="@Url.Action("Respostas", "Folga")"><i class=""></i> Respostas</a></li>
                            </ul>
                        </li>
                        <!--  Menu Férias  -->
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-plane"></i> Férias<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="@Url.Action("Solicitar", "Ferias")"><i class=""></i> Solicitar</a></li>
                                @if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado != Seedwork.Const.PerfilAcesso.Funcionario)
                                {
                                    <li><a href="@Url.Action("Index", "Ferias")"><i class=""></i> Aprovar/Rejeitar</a></li>
                                }
                                <li><a href="@Url.Action("Respostas", "Ferias")"><i class=""></i> Respostas</a></li>
                            </ul>
                        </li>
                        <!--  Menu Relatórios  -->
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-list-alt"></i> Relatórios<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="@Url.Action("RelatorioMarcacoes", "Funcionarios")"><i class=""></i> Marcações efetuadas</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Conteúdo das páginas -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JQuery Scripts -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/bower_components/dist/js/sb-admin-2.js"></script>

    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.mask.js"></script>
    <script>
        jQuery(function ($) {
            $("#DiaMesAno").mask("99/99/9999");
            $("#DiaMesAnoHoraMinuto").mask("99/99/9999 99:99");
            $("#MesAno").mask("99/9999");
            $("#HoraMinuto").mask("99:99");
            $("#Telefone").mask("(99) 99999-9999");
            $("#CPF").mask("999.999.999-99");
            $("#CNPJ").mask("99.999.999/9999-99");
            $("#CEP").mask("99999-999");
            $("#Numero2").mask('0', { definitions: { '0': { pattern: /[SN0-9]/ } } });
            $.mask.definitions['S'] = '[Ss0-9 ]';
            $.mask.definitions['N'] = '[Nn0-9 ]';
            $("#Numero").mask("99999");
        });
    </script>


</body>
</html>
