@using Dominio.Model;
@using Seedwork.Const;
@{
    ViewBag.Title = "Consultar Férias Pendentes";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}

@model List<Ferias>

<h1 class="page-header">Férias Solicitadas</h1>

<script type="text/javascript">
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>

<div class="panel panel-default">
    <!--   TODOS   -->
    <div class="panel-heading">

        @using (Html.BeginForm("Lista", "Ferias", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.Label("Email do Funcionário: ")
                @if (FrontEnd.Models.Sessao.PerfilFuncionarioLogado == PerfilAcesso.Funcionario)
                {
                    @Html.TextBox("Email", (String)ViewBag.EmailLogado, new { @type = "email", @class = "form-control", @placeholder = "Email", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBox("Email", (String)ViewBag.EmailLogado, new { @type = "email", @class = "form-control", @placeholder = "Email" })
                }
            </div>

            <div class="form-group">
                @Html.Label("Mês/Ano")
                @Html.TextBox("Data", String.Format("{0: MM/yyyy}", DateTime.Now), new { @class = "form-control", @placeholder = "Mês/Ano", @id = "MesAno" })
            </div>
            <input type="submit" value="Atualizar" class="btn btn-outline btn-success form-control" />
        }

    </div>
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Funcionario</th>
                        <th>Data Início</th>
                        <th>Data Fim</th>
                        <th>Justicativa</th>
                        <th>Resposta</th>
                        <th>Aprovar?</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Funcionario.Nome</td>
                            <td>@item.Inicio.ToString(@"dd/MM/yyyy")</td>
                            <td>@item.Fim.ToString(@"dd/MM/yyyy")</td>
                            <td>@item.Justificativa</td>
                            @if (item.Resposta == Seedwork.Const.RespostaSolicitacao.Aprovado)
                            {
                                <td style="color:#0a6216; " ><b>@item.Resposta</b></td>
                            }
                            else if (item.Resposta == Seedwork.Const.RespostaSolicitacao.Reprovado)
                            {
                                <td style="color:#840808;" ><b>@item.Resposta</b></td>
                                
                            }
                            else
                            {
                                <td>@item.Resposta</td>
                            }

                            <td>
                                @Html.ActionLink("Aprovar", "AprovarRejeitarFerias", new { id = item.Id, resposta = Seedwork.Const.RespostaSolicitacao.Aprovado }, new { @class = "btn btn-outline btn-xs btn-info" })
                                @Html.ActionLink("Rejeitar", "AprovarRejeitarFerias", new { id = item.Id, resposta = Seedwork.Const.RespostaSolicitacao.Reprovado }, new { @class = "btn btn-outline btn-xs btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>



