@using Dominio.Model;
@using Seedwork.Const;
@{
    ViewBag.Title = "Consultar Férias Pendentes";
    Layout = "~/Views/Templates/_TemplateSistema.cshtml";
}

@model List<Ferias>

<h2 class="page-header">Férias Solicitadas</h2>
@if (@TempData["Mensagem"] != null)
{
    <script>MostraSuccess('@TempData["Mensagem"]', false)</script>
}
else
{
    if (@TempData["MensagemErro"] != null)
    {
        <script>MostraDanger('@TempData["MensagemErro"]', false)</script>
    }
}
<script type="text/javascript">
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>

<div class="panel panel-default">
    <!--   TODOS   -->
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Funcionario</th>
                        <th>Data Início</th>
                        <th>Data Fim</th>
                        <th>Justicativa</th>
                        <th>Resposta</th>
                        <th>Aprovar?</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Funcionario.Nome</td>
                            <td>@item.Inicio.ToString(@"dd/MM/yyyy")</td>
                            <td>@item.Fim.ToString(@"dd/MM/yyyy")</td>
                            <td>@item.Justificativa</td>
                            @if (item.Resposta == Seedwork.Const.RespostaSolicitacao.Aprovado)
                            {
                                <td style="color:#0a6216; " ><b>@item.Resposta</b></td>
                            }
                            else if (item.Resposta == Seedwork.Const.RespostaSolicitacao.Reprovado)
                            {
                                <td style="color:#840808;" ><b>@item.Resposta</b></td>
                                
                            }
                            else
                            {
                                <td>@item.Resposta</td>
                            }

                            <td class="col-sm-2">
                                @Html.ActionLink("Aprovar", "AprovarRejeitarFerias", new { id = item.Id, resposta = Seedwork.Const.RespostaSolicitacao.Aprovado }, new { @class = "btn btn-outline btn-xs btn-info" })
                                @Html.ActionLink("Rejeitar", "AprovarRejeitarFerias", new { id = item.Id, resposta = Seedwork.Const.RespostaSolicitacao.Reprovado }, new { @class = "btn btn-outline btn-xs btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>



